@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

.main {
  background-image: url("assets/images/bg.jpg");
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 644px;
  position: relative;
}

.main .box {
  height: 644px;
  width: 100%;
  opacity: 0.69;
  position: absolute;
  top: 0;
  background-color: black;
}

nav {
  max-width: 60vw;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100px;
}

nav img {
  color:#e50914;
  width: 130px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  padding: 0 30px;
}

.hero > :nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.separation {
  height: 7px;
  background-color: rgb(46, 44, 44);
  position: relative;
  z-index: 20;
}
.btn {
  padding: 5px 8px;
  font-weight: 400;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid white;
  background-color: rgba(248, 243, 243, 0.021);
}
.btn svg {
  margin: 0px 5px;
  vertical-align: middle; /* svg ko text ke sath align kiya */
}
.btn-red {
  background-color:#e50914;
  color: white;
  padding: 3px 20px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 400;
}
.btn-red-sm {
    font-weight: bold;
  color: white;
  background-color: #e50914;
}
.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.main input {
  padding: 7px 101px 9px 14px;
  color: white;
  font-size: 12px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
}

/* yaha tak upar main banner aur navigation bar ka kaam tha jo ki ho gya hai  */

.first {
  display: flex;
  justify-content: center;
  color: white;
  max-width: 70vw;
  margin: auto;
  align-items: center;
}

.secImg {
  position: relative;
}

.secImg img {
  position: relative;
  z-index: 10;
  width: 555px;
}
.secImg video {
  position: absolute;
  top: 60px;
  right: 2px;
}

section.first > div {
  display: flex;
  flex-direction: column;
}
section.first > div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}
section.first > div :nth-child(2) {
  font-size: 24px;
}

/* seperation part yaha tak hai */
/* iske baad seperation ke niche wala part aata hai
frequently ask questions wala part */

.faq {
  background-color: black;
  color: white;
  padding: 34px;
}
.faq h2 {
  text-align: center;
  font-size: 48px;
}
.faqbox:hover {
  background-color: #414141;
  color: white;
}
.faqbox svg {
  filter: invert(1);
}
.faqbox {
  transition: all 1s ease-out;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  padding: 20px;
  max-width: 60vw;
  margin: 20px auto;
  cursor: pointer;
}

/* yaha tak main kaam khatam ho gya jo body ka kaam tha ab hu footer ko designed denge  */

footer {
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 60px;
}

footer .questions {
  padding: 34px 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}
.footer a {
  font-size: 14px;
  color: white;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

/* ab yaha pe hum media querie lagayenge taki choti screen me website shi dikh  sake  */

@media screen and (max-width: 1300px) {
  nav {
    max-width: 90vw;
  }

  .first {
    flex-wrap: wrap;
  }

  .secImg img {
    width: 305px;
  }

  .secImg video {
    width: 305px;
  }
  .secImg video {
  position: absolute;
  top: 35px;
  right: 0px;
}

  .hero > :nth-child(1) {
    font-size: 32px;
  }

  .hero > :nth-child(2) {
    font-size: 18px;
  }

  .hero > :nth-child(3) {
    font-size: 18px;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .faq h2 {
    text-align: center;
    font-size: 32px;
  }

  footer {
    max-width: 90vw;
    padding: 75px 0;
  }

  .footer-item {
    align-items: center;
  }
}

@media screen and (max-width: 1300px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}
